@charset "utf-8";

/*
   FED CA2: Website
   
   Base Style Sheet for ya_careerProspects.html
   Purpose: To apply styles for Career Prospect Page

   Name: Yadanar Aung
   Admin No: P2214621
   Class: DAAA/FT/1A/02

   Filename: ya_careerProspects.css

   Last Updated Date: 7 August 2022
*/

/*Background Images Styles*/
#headerImage {
    background-image: url(../Graphics/ya_bg3.jpg);
    /*source: myself*/
    background-size: cover;
    background-attachment: fixed;
    min-height: 340px;
}

#intro {
    background-image: url(../Graphics/photo3.jpeg);
    /*source: myself*/
    background-size: cover;
}

/*Collapsible sections styles*/
.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
}
  
.active:after {
    content: "\2212";
}
  
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-image: url(../Graphics/ya_bg3_1.jpg);
    /*source: https://www.pinterest.com/pin/653514595942125273/ */
    background-size: cover;
}