@charset "utf-8";

/*
   FED CA2: Website
   
   Base Style Sheet for index.html
   Purpose: To apply styles for Homepage (index.html)
   
   Name: Yadanar Aung
   Admin No: P2214621
   Class: DAAA/FT/1A/02

   Filename: ya_homePage.css

   Last Updated Date: 7 August 2022
*/

/*Header Styles*/
#headerImage {
    background-image: url(../Graphics/ya_bg1.jpg);
    /*source: myself*/
    background-size: cover;
    background-attachment: fixed;
}

/*Background Image Styles*/
section#interest {
    background-image: url(../Graphics/ya_bg1_1.jpeg);
    /*source: myself */
    background-size: cover;
    background-attachment:fixed;
}

/*Resizing of Images*/
img#profile {
    max-height: 200px;
    width: auto;
}

/*Modal Styles*/
div.modal-body, div.modal-footer {
    background-color: #f3e8de;
}

/*Carousel Styles*/
/*Carousel Images Border Style*/
.carousel>.carousel-inner img {
    width: 42%;
    border-style: inset;
    border-width: 6.5px;
    border-color: #d59361;
}

/*Carousel Controls*/
.carousel-control-next-icon, .carousel-control-prev-icon{
  filter: invert(1);
}

/*Figure Styles*/
figure {
    border: 1px solid #b0d2cb;
    border-left-width: 10px;
    color: #0b4237;
    box-shadow: 7px 11px #888888;
}

/*Blockquote Styles*/
blockquote::before {    
    content: "\201C";
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    color: #009578;
}