@charset "utf-8";

/*
   FED CA2: Website
   
   Base Style Sheet for ya_careerProspects.html
   Purpose: To apply styles for SP Life Page

   Name: Yadanar Aung
   Admin No: P2214621
   Class: DAAA/FT/1A/02

   Filename: ya_SPLife.css

   Last Updated Date: 7 August 2022

*/

/*Header Styles*/
#headerImage {
    background-image: url(../Graphics/ya_bg2.png);
    /*source: https://www.todayonline.com/singapore/2-singapore-polytechnic-students-linked-jem-westgate-cluster-test-positive-covid-19*/
    background-size: cover;
    background-attachment: fixed;
    min-height: 340px;
}

/*Background Images Style*/
#timetable {
    background-image: url(../Graphics/ya_bg2_1.png);
    /*source: myself*/
    background-size: cover;
    background-attachment: fixed;
}

#countdown {
    background-image: url(../Graphics/ya_bg3_1.jpg);
    /*source: https://www.pinterest.com/pin/653514595942125273/ */
    background-size: cover;
}

#SOC {
    background-image: radial-gradient(#f3e8de, #b4d4a9, #4452ae);
}

/*Table Styles*/
/*Table Caption*/
caption {
    text-shadow: 3px 3px 3px #000000;
    font-variant: small-caps;
}

.diploma {
    font-variant: small-caps;   
}